<div class="footer">
        <div class="footerLinks">
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/movies">Movies</a>
        </div>
        <p class="adress">Adress to XY</p>
     
</div>
